.sw-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-area {
  color: #b1b6d8;
  text-align: center;
}

.button-filter {
  background-color: #134d71;
  padding: 3px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 15px !important;
  border-radius: 20px !important;
  width: 100px;
  height: auto;
}

input {
  background-color: #371011;
  color: white;
  border: 3px solid #5f4f61;
  border-radius: 20px;
  margin: 10px;
  width: 180px;
  height: 30px;
  margin-left: 15px !important;
  padding: 12px;
}

body {
  background: rgb(55, 42, 50);
  background: linear-gradient(88deg, rgba(55, 42, 50, 1) 0%, rgba(17, 20, 35, 1) 100%);
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 20px;
}

.starship-card {
  width: 20rem;
  background-color: #111423 !important;
  color: #b3abc7 !important;
  border-radius: 20px !important;
  margin-bottom: 50px !important;
  box-shadow: 0px 0px 25px 11px rgba(0, 0, 0, 0.68) !important;
  transition: transform 0.2s ease-in-out;
  height: 23rem !important;
}

.starship-card:hover {
  transform: scale(1.05);
}

.button-lm {
  display: grid ;
  margin: auto;
  text-align: center;
  background-color: #111423;
  color: #b3abc7;
  padding: 20px;
  border: 2px solid #b3abc7;
  border-radius: 20px;
}
.button-lm:hover {
  border: wpx solid #111423;
  background-color: #b3abc7;
  color: #111423;
}
.detailedCard{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.backButton {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.backButton:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
